/* General */
* {
    overflow: hidden;
}

nav {
    border-bottom: 2px solid #ffffff;
}

/* Register section */
.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #000000;
    border-bottom: 2px solid #ffffff;
}

.register-container {
    overflow: visible;
    display: flex;
    align-items: start;
    gap: 50px; 
    padding: 40px;
    height: 65%;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 70px 150px 100px 50px;
    margin-top: 3vh;
}

.logo-container .logo {
    width: 300px;
}

.register-box {
    background-color: #ffffff;
    padding: 50px 50px 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 90%;
    width: 45vw;
}

.register-box h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.register-box p {
    font-size: 1.25rem;
    color: #000000;
}

.register-box a {
    color: #E466A2;
    font-size: 1.25rem;
    text-decoration: none;
    transition: 0.3s ease;
}

.register-box p:last-child a {
    color: #AD45EC;
    transition: 0.3s ease;
}

a:hover, .register-box p:last-child a:hover {
    color: #FFBF00;
}

.register-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.register-form input[type="text"] {
    width: 297px;
    height: 29px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    font-weight: 300;
    color: #000000;
    background-color: #FFF4D2ED;
}

.register-form button {
    width: 60%;
    margin-top: 4vh;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #AD45EC;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.register-form button:hover {
    background-color: #FFBF00;
}

.separator {
    width: 1px;
    height: 150px;
    background-color: #000000;
    justify-self: center;
    align-self: flex-start;
    margin-top: 5vh;
}

.social-register {
    align-self: start;
}

.social-icons {
    display: flex;
    gap:70px;
    margin: 80px 30px 80px;
}

.social-icons img { 
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.gradient-bar {
    height: 10px;
    background: linear-gradient(90deg, #FFBF00,#E466A2,#AD45EC,#4997D0,#88D8C0);
    width: 100%;
}

.gradient-bar.half {
    width: 40%;
}

.social-register div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

